/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


button {
  border: none;
}

/* VARIABLES */

:root {
	--header-height: 4.5rem;

	/* colors */
	--base-color: #006CAA;
	--alter-color: #1295E1;
	--base-color-second: #F0A202;
	--light-color: #F8FFE5;
	--dark-color: #261C15;
	--text-color: #898980;
	--body-color: #F8FFE5;
	/* font-sizes */
	--font-size-title: 1.875rem;
	--font-size-subtitle: 1rem;
	/*font title */
	--title-font: 'Poppins', sans-serif;
	--body-font: 'DM Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--dark-color);
  background: var(--light-color);
  -webkit-font-smoothing: antialised;
}

header img {
	width: 10rem;
}

.headerColor {
	padding: 1rem;
	background-color: var(--base-color);
}



.card {
	background-color: var(--body-color);
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.row {
	justify-content: center;
}
.card-title {
	font-size: 1.5rem;
}

.btn-primary {
	background-color: var(--base-color);
}

.btn-primary:hover {
	background-color: var(--alter-color);
}

.btn-primary:focus {
	box-shadow: none;
}

.form-control:focus {
	border-color: var(--base-color);
	box-shadow: none;
}

.form-control:required {
	border-color:var(--base-color);
}

.list-group-item {
	background-color: #f1f1f1;
	border: none;
	color: #000;
	font-weight: 500;
	font-size: 1.1rem;
}

.list-group-item:last-child {
	border-radius: 0 0 10px 10px;
}

.list-group-item:first-child {
	border-radius: 10px 10px 0 0;
}

.list-group-item:not(:last-child) {
	border-bottom: 1px solid #ddd;
	border-right: 1
	px solid #ddd;
}



#resultado {
	margin-top: 10px;
}

.alert-success {
	background-color: var(--body-color);
	border-color: var(--body-color);
	color: var(--base-color);
}

.alert-success:before {
	content: "\f00c";
	font-family: var(--title-font);
	font-weight: 900;
	margin-right: 10px;
}

.section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.grid {
  display: grid;
	justify-content: center;
	align-items: center;
}


/* Footer */
.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
}

.footerBg {
  background-color: var(--base-color);
	justify-items: center;
	padding-top: 2rem;
}

.footerCopy {
  font-size: 0.75rem;
  color: var(--light-color);
  margin-top: 3rem;
	font-weight: 200;
}

img{
  width: 8rem;
  height: auto;
}


span{
	font-weight: bold;
}


@media screen and (max-width: 767px) {
.col-md-6:first-child {
margin-bottom: 30px;
}
}

@media screen and (max-width: 575px) {
.card {
margin-top: 30px;
}
}